/*Custom CSS*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
color: black;
}

.jumbotron {
  background-color: #fff;
  color: white;
}

.nav .nav-tabs {
  background-color: #eee;
  color: white;
}

