/*Custom CSS*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, .p {
color: #eee;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #eee;
  font-size: 36px;
}

.jumbotron {
  background-color: #ff5000;
  color: #eee;
}

.navbar, .nav {
  background-color: #ff5000;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  border-bottom: none;
  border-top: none;
}

body {
  background-color: #222;
  font-family: Oswald, "Courier New", serif;
}

.page-header {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  border-bottom: none;
}

.carousel {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

a.hover {
    color: #ff5000;
}

a.visited {
    color: #ff5000;
}

a.link {
    color: #ff6600;
}